body{
	position:relative;
	background-color:#EDEDFF;
	padding:0;
	margin:0;
	font-family: 'EB Garamond',serif;
}

/*On redimensionne toutes les images à la dimension du bloc de la balise img*/
/*Pour plus d'infos se rendre sur https://www.w3schools.com/howto/howto_js_slideshow.asp*/
img.resize{

	max-width:100%;
	max-height:100%;

}




section
{
	margin-top: 30px;
}

/*On cache toutes nos slides afin qu'elles ne s'affichent pas les unes après les autres. 
Le JS aura justement pour rôle de sélectionner UNE SEULE à afficher*/
.slides{
	position:relative;
	display:none;
}

#tabsAndSlides
{
	display: flex;
	background-color: white;
	justify-content: center;

}

#texteDyn
{
	position: absolute;
	font-weight: bolder;
	bottom:25%;
	left:25%;
	right: 25%;
	font-size: 320%;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
}

#moreInfo
{
	position:absolute;
	bottom:18%;
	left:25%;
	right: 25%;
	text-align: center;

}

#moreInfo button
{
	font-family: 'EB Garamond',serif;
	cursor: pointer;
	border: none;
	color:white;
	font-size: 150%;
	padding:4px 10px;
	background-color: rgba(209, 39, 42, 1);
	box-shadow: 0px 5px 10px 0px black;
	-moz-transition:background-color 0.5s;
	-webkit-transition:background-color 0.5s;
}

#moreInfo button:hover
{
	background-color:rgba(0, 46, 93, 1);
}

#navSlides{

	position:relative;/*positionnement relatif à son parent --> slider-container*/
	/*De plus avec relative l'élément est enfermé dans son parent*/
	/*En absolute, l'élément n'est plus enfermé dans son parent et peut se positionner
	n'importe où*/
	text-align: center;
	bottom:5%;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;
}

#titre_slide
{
	position:relative;
	display: flex;
	justify-content: center;
	top:70%;
	text-transform: uppercase;
	font-weight: bolder;
	font-size:320%;

}


.point{

	cursor: pointer;
	height: 6px;
	width: 6px;
	margin: 0 3px;
	background-color:rgb(175, 203, 224);
	border-radius: 50%;
	display: inline-block;
}

.active, .point:hover{ /*class rajoutés depuis le D.O.M du JS*/
	background-color:#717171;
}

.arrow
{

	background-color: rgba(255,255,255,0.1);
	padding:12px 28px;
	color:rgba(175, 203, 224, 1);
	position:absolute;
	font-weight:lighter;
	top:50%;
	font-size: 400%;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;

  	-webkit-transition: background-color 0.5s;  
  	-moz-transition: background-color 0.5s;     
  	-ms-transition: background-color 0.5s; 
 }

.arrow:hover
{
	cursor:pointer;
	background-color: rgba(255,255,255,0.3);
}

.arrow:nth-child(5)/*Il s'agit du second enfant du parent tabsAndSlides*/
{

	position:absolute;
	left:10%;
	
}

.arrow:nth-child(6)/*Il s'agit du troisième enfant du parent tabsAndSlides*/
{
	position:absolute;
	right:10%;
	
}
#presentation
{
	margin:2% 0;
	background-color: rgb(43, 108, 163);
}
/*************************************/
#Menu
{
	display: flex;
	justify-content: space-around;
	margin:0 auto;
	padding: 0;
	width:50%;
	list-style-type: none;
    list-style-position: inside;
    background-color: rgb(218,237,255);
    border:3px solid rgb(175,203,224);
}

#Menu li a
{
	color:rgb(76,128,167);
	text-decoration: none;
}

#Menu li a:hover
{
	color:rgb(29,154,232);
}

.sub
{
	display:none;
	position: absolute;
	background-color: rgb(218,237,255);
	list-style-type: none;
	text-align: center;
	margin-left:-35px;
	padding: 0 10px;
	z-index:1;
	cursor:pointer;
}

#Menu li:hover .sub
{
	display:block;
}


/***** LOGO ****/
.logo{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
}

#logo-img{
    height: 120px;
    width: 150px;

}

.logo h1{
    align-self: center;
    color: #D12727;
}




/**** Contenu ****/
.grand-conteneur{
    max-width:1144px;
    
}

.petit-conteneur{
    background-color: white;
    margin-bottom: 5rem;
}




/*TEST DU MEDIAQUERY*/

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*
rgb(218,237,255) couleur boîte menu
rgb(76,128,167) couleur texte menu
rgb(29,154,232) couleur texte menu hover	
rgb(175,203,224) couleur bordure menu
*/